@model Ouvidoria_Projeto.Models.ManifestoSolicitante
@inject GestaoAcesso GestaoAcesso

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Faça seu Manifesto</h1>

<h4>Manifesto Solicitante</h4>
<hr />
<div class="row">
    <div class="col-md-12">

        <div class="form-group">
            <label class="control-label">Email:</label>
            <input value="@User.Identity.Name" class="form-control" disabled />
        </div>
        @{
            string name = "";
            string numero = "";

            var usu = GestaoAcesso.UsuarioLogado(User.Identity.Name);
            name = usu.Result.Nome;
            numero = usu.Result.Numero;

            <div class="form-group">
                <label class="control-label">Nome:</label>
                <input value=@name class="form-control" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">Telefone(Celular):</label>
                <input value="@numero" class="form-control" disabled />
            </div>

        }
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Titulo" class="control-label"></label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TipoManifestoId" class="control-label"></label>
            <select asp-for="TipoManifestoId" class="form-control" asp-items="ViewBag.TipoManifestoId"></select>
        </div>

        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <textarea asp-for="Descricao" class="form-control"></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Criar" class="btn btn-primary" />
        </div>
    </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
