@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@inject GestaoAcesso GestaoAcesso

@{
    ViewData["Title"] = "Home";
}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/banner01.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/banner02.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/banner03.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center" style="margin-top: 64px; max-width: 100%; font-weight: bold">
    <div class="grid" style="display: flex; flex-wrap: wrap; justify-content:space-around; width: 1200px;">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (GestaoAcesso.AcessoPerfil(User.Identity.Name).Equals("1"))
            {
                <div class="card" style="width: 15rem;background-color:#007bff; color: #fff">
                    <a asp-area="" asp-controller="ManifestoSolicitantes" asp-action="Create"><img src="~/img/Manifesto.png" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p class="card-text">Realizar Manifesto.</p>
                        <p class="card-text-content"></p>
                    </div>
                </div>
                <div class="card" style="width: 15rem;background-color:#007bff;color: #fff">
                    <a asp-area="" asp-controller="ManifestoSolicitantes" asp-action="Index"><img src="~/img/MeusManifestos.png" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p class="card-text">Meus Manifestos.</p>
                        <p class="card-text-content"></p>
                    </div>
                </div>
            }
            else if (GestaoAcesso.AcessoPerfil(User.Identity.Name).Equals("3"))
            {
                <div class="card" style="width: 15rem;background-color:#007bff; color: #fff">
                    <a asp-area="" asp-controller="Respostas" asp-action="Index"><img src="~/img/respostas.png" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p class="card-text">Respostas.</p>
                        <p class="card-text-content"></p>
                    </div>
                </div>
                <div class="card" style="width: 15rem;background-color:#007bff;color: #fff">
                    <a asp-area="" asp-controller="Manifestos" asp-action="Index"><img src="~/img/MeusManifestos.png" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <p class="card-text">Meus Manifestos.</p>
                        <p class="card-text-content"></p>
                    </div>
                </div>
            }
        }
        <div class="card" style="width: 15rem;background-color:#007bff;color: #fff">
            <a  asp-area="" asp-controller="ManifestoAnominoes" asp-action="Index"><img src="~/img/ManifestoAnomino.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <p class="card-text">Realizar Manifestos Anômino.</p>
                <p class="card-text-content"></p>
            </div>
        </div>
    </div>
</div>
